<div class="layout layout--smaller">
    <div class="columns w--full h--full">
        <div class="column w--full h--full">
            <div class="flex flex--col w--full h--full">
                <div class="flex gap flex--center-x flex--center-y no-shrink">
                    {% if trmnl.plugin_settings.custom_fields_values.habitats == "true" or trmnl.plugin_settings.custom_fields_values.food_costs == "true" %}
                        <div class="flex flex--col flex--center-y bg--gray-75 rounded gap-large text-stroke pt--2">
                            {% if trmnl.plugin_settings.custom_fields_values.habitats == "true" %}
                                <div class="habitats no-text px--2 {% if trmnl.plugin_settings.custom_fields_values.food_costs != "true" %}pb--2{% endif %}">
                                    <div class="habitats--{% increment _habitats_count %}">
                                        {% if info.can_live_wetland %}
                                            <img class="image"
                                                 src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/wetland.png">
                                        {% endif %}
                                        {% if info.can_live_grassland %}
                                            <img class="image"
                                                 src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/grassland.png">
                                        {% endif %}
                                        {% if info.can_live_forest %}
                                            <img class="image"
                                                 src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/forest.png">
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if trmnl.plugin_settings.custom_fields_values.food_costs == "true" %}
                                <span class="description iconize mx--2 mb--2 small-icons" id="foodcost"></span>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="outline p--2 flex flex--col">
                        <span class="title--small birdtitle">{{ common_name }}</span>
                        {% if trmnl.plugin_settings.custom_fields_values.scientific_names == "true" %}
                            <span class="title title--small scientifictitle">{{ scientific_name }}</span>
                        {% endif %}
                    </div>
                </div>
                {% if trmnl.plugin_settings.custom_fields_values.image == "true" %}
                    <div class="flex flex--between flex--row stretch bird-image bird--image-100">
                        <div class="flex flex--col gap--large">
                            <div class="pb--1">
                                {% if trmnl.plugin_settings.custom_fields_values.victory_points == "true" %}
                                    <span class="title birdtitle iconize">{{ info.victory_points | floor }}[point]</span>
                                {% endif %}
                            </div>
                            {% if trmnl.plugin_settings.custom_fields_values.nest_type == "true" %}
                                {% if info.nest_type == "wild" %}
                                    {% assign _nest_type = "star" %}
                                {% else %}
                                    {% assign _nest_type = info.nest_type %}
                                {% endif %}
                                <img class="image image-stroke nest-type"
                                     src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/{{ _nest_type }}.png">
                            {% endif %}
                            {% if trmnl.plugin_settings.custom_fields_values.egg_count == "true" %}
                                <div>
                                    <img class="image image-stroke nest-type"
                                         src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/smallegg.png">
                                    <span class="label birdtitle">
                                         x {{ info.egg_limit | floor }}
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                        <img class="image image-dither image--contain bird-image bird-image--100"
                             src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/images/{{ _image_set }}/{{ info.id }}.png{{ _image_set_add_token }}">
                        {% if trmnl.plugin_settings.custom_fields_values.wingspan == "true" %}
                            <div class="flex flex--col flex--center-y self--end no-gap">
                                <span class="description birdtitle">{{ info.wingspan }} cm</span>
                                <img class="image wingspan"
                                     src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/wingspan.png">
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="richtext gap stretch no-shrink flex flex--col flex--between">
                    {% if trmnl.plugin_settings.custom_fields_values.power_texts == "true" and info.color %}
                        <div class="content content--small content--left gap text--left flex--row flex--top bg--gray-75 p--1 text-stroke stretch"
                             data-content-limiter="true" data-content-max-height="130">
                            <p class="iconize flex--col">
                                {% if info.power_is_predator %}
                                    [predator]
                                {% endif %}
                                {% if info.power_is_flocking %}
                                    [flocking]
                                {% endif %}
                                {% if info.power_is_bonus_card_related %}
                                    [bonus_cards]
                                {% endif %}
                            </p>
                            <p class="power-text">
                                <span id="powerintro"></span>:
                                <span class="iconize">{{ power_text }}</span>
                            </p>
                        </div>
                    {% endif %}
                    <div class="flex flex--row">
                        {% if trmnl.plugin_settings.custom_fields_values.continent == "true" %}
                            <div class="continent no-text no-shrink">
                                <img class="image"
                                     src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/map.png">
                                {% if info.lives_in_north_america %}
                                    <img class="image"
                                         src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/map_na.png">
                                {% endif %}
                                {% if info.lives_in_central_america %}
                                    <img class="image"
                                         src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/map_amn.png">
                                {% endif %}
                                {% if info.lives_in_south_america %}
                                    <img class="image"
                                         src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/map_ams.png">
                                {% endif %}
                                {% if info.lives_in_europe %}
                                    <img class="image"
                                         src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/map_e.png">
                                {% endif %}
                                {% if info.lives_in_asia %}
                                    <img class="image"
                                         src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/map_a.png">
                                {% endif %}
                                {% if info.lives_in_africa %}
                                    <img class="image"
                                         src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/map_af.png">
                                {% endif %}
                                {% if info.lives_in_oceania %}
                                    <img class="image"
                                         src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/map_o.png">
                                {% endif %}
                                {% if info.lives_in_antarctica %}
                                    <img class="image"
                                         src="{{ trmnl.plugin_settings.custom_fields_values.api_url }}/icons/map_an.png">
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if trmnl.plugin_settings.custom_fields_values.flavor_texts == "true" %}
                            <div class="content content--small content--center gap text--center"
                                 data-content-limiter="true"
                                 data-content-max-height="100">
                                <p>{{ flavor_text }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="title_bar">
    <img class="image" src="https://wingspan.capypara.de/icons/egg.png">
    <span class="title">
        {{ trmnl.plugin_settings.instance_name }}
    </span>
</div>
